.nav {
  position: fixed;
  left: 0;
  height: 100%;
  background: #191718;
}
.nav-content {
  color: #aaaa;
}
.nav-content li {
  padding: 10px;
  list-style-type: none;
}

.nav-content li:hover {
  color: #fff;
  background: wheat;
}
